$primary-color: hsl(180, 66%, 49%);
$secondary-color: hsl(0, 87%, 67%);

$bg-primary: #ffffff;
$bg-secondary: #ececec;

$bg-dark: hsl(257, 27%, 26%);
$bg-darker: hsl(260, 8%, 14%);

$text-body: hsl(257, 7%, 63%);
$text-heading: hsl(255, 11%, 22%);

$container-width: 1024px;

$tablet-width: 768px;
$desktop-width: 1024px;
